.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-top: 20px;
  left: 10px;
  padding: 10px;
  background-color: transparent;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  z-index: 1000;
}

.navItem {
  cursor: pointer;
  transition: color 0.3s ease;
}

.navItem h1 {
  font-size: 1rem;
  margin: 0;
}

.navItem:hover h1 {
  color: color-mix(in srgb, var(--text-color) 85%, black 15%);
  text-decoration: underline;
}

@media (width >= 800px) {
  .container {
    justify-content: flex-end; 
    padding-right: 100px;
  }
}